/* COMMON */
body {
    color: white;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

ul {
    list-style-type: none;
}

/* UTILITIES */
.ms_bg_dark_blue {
    background-color: #2c3e50;
}

.ms_bg_light_blue {
    background-color: #3a546d;
}

.ms_bg_green {
    background-color: #1abc9c;
}

.ms_text_black {
    color: #000000;
}

.ms_text_green {
    color: #1abc9c;
}

[class*="row"],
[class*="col"] {
    /* debug */
    border: 1px solid blue;
}

/* HEADER */
header .row {
    /* debug */
    height: 5rem;
}

.ms_menu li {
    margin: 0 1rem;
}

/* MAIN */
.ms_start,
.ms_contact {
    /* debug */
    height: 30rem;
}

.ms_copyright {
    /* debug */
    height: 5rem;
}