/* VARIABLES */
:root {
    /* HEIGHTS */
    --ms_header-height: 5rem;

    /* COLORS */
    --ms_primary-color: #1abc9c;
    --ms_secondary-color: #2c3e50;
    --ms_tertiary-color: #3a546d;
}

/* COMMON */
body {
    margin-top: 5rem;
    font-family: "Roboto", sans-serif;
    color: white;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

ul {
    list-style-type: none;
}

/* UTILITIES */
.ms_bg-primary {
    background-color: var(--ms_primary-color);
}

.ms_bg-secondary {
    background-color: var(--ms_secondary-color);
}

.ms_bg-tertiary {
    background-color: var(--ms_tertiary-color);
}

.ms_bg-white {
    background-color: #ffffff;
}

.ms_text-primary {
    color: var(--ms_primary-color);
}

.ms_text-secondary {
    color: var(--ms_secondary-color);
}

.ms_text-grey {
    color: #888888;
}

.ms_fs-xs {
    font-size: .8rem;
}

/* HEADER */
header {
    width: 100%;
    z-index: 999;
    opacity: .97;
}

header .row {
    height: 5rem;
}

header h4 {
    margin-bottom: 0;
}

header ul {
    margin-bottom: 0;
}

.ms_menu-list li {
    margin: 0 1rem;
}

.ms_menu-list li:hover a {
    color: var(--ms_primary-color);
}

/* MAIN */
.ms_section {
    padding: 3rem 0;
}

.ms_small-container {
    width: 75%;
    margin: 0 auto;
}

.ms_star {
    transform: scale(1.75);
}

.ms_line-left {
    top: 50%;
    right: 150%;
    width: calc(2rem + 2.5vw);
    height: 2.5px;
}

.ms_line-right {
    top: 50%;
    left: 150%;
    width: calc(2rem + 2.5vw);
    height: 2.5px;
}

/* JUMBOTRON */
.ms_jumbotron img {
    width: 20rem;
}

/* ABOUT */
.btn-outline-primary.ms_btn-outline-white {
    border-color: #ffffff;
    color: #ffffff;
}

.btn-outline-primary.ms_btn-outline-white:hover {
    border-color: var(--ms_tertiary-color);
    color: #ffffff;
    background-color: var(--ms_tertiary-color);
}

/* CONTACT */
.btn-primary.ms_btn-primary {
    border-color: var(--ms_primary-color);
    background-color: var(--ms_primary-color);
}

.btn-primary.ms_btn-primary:hover {
    border-color: var(--ms_tertiary-color);
    color: #ffffff;
    background-color: var(--ms_tertiary-color);
}

.form-control.ms_floating-form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    border-color: #cccccc;
}

.form-control.ms_floating-form-control:focus {
    box-shadow: none;
}

.form-control.ms_text-area {
    height: 10rem;
}

.form-control:focus + label {
    color: var(--ms_primary-color);
}

/* FOOTER */
.ms_circle {
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
}

.ms_circle:hover {
    background-color: var(--ms_primary-color);
}